body {
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    left: 100px;
    top: 30px;
}

.banner-area {
     width: 100%;
     height: 100vh;
     background: url(bday\ bg.png);
     background-position: center;
     display: -webkit-flex;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     font-size: 2vw;
     color: bisque;
     background-repeat: no-repeat;
     background-size: cover;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 25px;
}

.banner-area h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 65px;
    margin: 0 0 25px;
    animation: animate 2s 1;
}

.btn {
    text-decoration: none;
    padding: 10px 45px;
    color: #98DCD1;
    border: 2px solid black;
    transition: .6s;
    animation: animate 2s 1;
}

.btn:hover {
    background-color: #fff;
    color: #262626;
}

@keyframes animate {
    0%{
        transform: scale(0);
    } 
    
    100%{
        transform: scale(1);
    }
}

h2 {
    color: white;
}